In [16]:
import json
import csv
import pandas as pd

In [7]:
# Read the JSON file into a DataFrame
data = pd.read_json('data/sampleSupplies.json', lines=True)

In [8]:
data

,_id,saleDate,items,storeLocation,customer,couponUsed,purchaseMethod
0,{'$oid': '5bd761dcae323e45a93ccfe8'},{'$date': '2015-03-23T21:06:49.506Z'},"[{'name': 'printer paper', 'tags': ['office', ...",Denver,"{'gender': 'M', 'age': 42, 'email': 'cauho@wit...",True,Online
1,{'$oid': '5bd761dcae323e45a93ccfe9'},{'$date': '2015-08-25T10:01:02.918Z'},"[{'name': 'envelopes', 'tags': ['stationary', ...",Seattle,"{'gender': 'M', 'age': 50, 'email': 'keecade@h...",False,Phone
2,{'$oid': '5bd761dcae323e45a93ccfea'},{'$date': '2017-06-22T09:54:14.185Z'},"[{'name': 'notepad', 'tags': ['office', 'writi...",Denver,"{'gender': 'M', 'age': 51, 'email': 'worbiduh@...",False,In store
3,{'$oid': '5bd761dcae323e45a93ccfeb'},{'$date': '2015-02-23T09:53:59.343Z'},"[{'name': 'binder', 'tags': ['school', 'genera...",Seattle,"{'gender': 'F', 'age': 45, 'email': 'vatires@t...",False,In store
4,{'$oid': '5bd761dcae323e45a93ccfec'},{'$date': '2017-12-03T18:39:48.253Z'},"[{'name': 'backpack', 'tags': ['school', 'trav...",London,"{'gender': 'M', 'age': 40, 'email': 'dotzu@ib....",False,In store
...,...,...,...,...,...,...,...
4995,{'$oid': '5bd761deae323e45a93ce36b'},{'$date': '2016-01-20T17:29:10.225Z'},"[{'name': 'pens', 'tags': ['writing', 'office'...",Austin,"{'gender': 'F', 'age': 45, 'email': 'du@rum.py...",False,In store
4996,{'$oid': '5bd761deae323e45a93ce36c'},{'$date': '2014-11-29T10:09:41.573Z'},"[{'name': 'pens', 'tags': ['writing', 'office'...",Denver,"{'gender': 'F', 'age': 47, 'email': 'dup@katje...",False,In store
4997,{'$oid': '5bd761deae323e45a93ce36d'},{'$date': '2017-12-25T07:02:51.283Z'},"[{'name': 'binder', 'tags': ['school', 'genera...",Denver,"{'gender': 'M', 'age': 29, 'email': 'losuhse@e...",False,In store
4998,{'$oid': '5bd761deae323e45a93ce36e'},{'$date': '2013-12-07T11:06:25.51Z'},"[{'name': 'notepad', 'tags': ['office', 'writi...",Denver,"{'gender': 'M', 'age': 59, 'email': 'hu@pehabu...",False,Online
4999,{'$oid': '5bd761deae323e45a93ce36f'},{'$date': '2014-08-18T06:25:49.739Z'},"[{'name': 'envelopes', 'tags': ['stationary', ...",New York,"{'gender': 'M', 'age': 33, 'email': 'lihzodud@...",False,Online

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   _id             5000 non-null   object
 1   saleDate        5000 non-null   object
 2   items           5000 non-null   object
 3   storeLocation   5000 non-null   object
 4   customer        5000 non-null   object
 5   couponUsed      5000 non-null   bool
 6   purchaseMethod  5000 non-null   object
dtypes: bool(1), object(6)
memory usage: 239.4+ KB

In [11]:
data.shape

(5000, 7)

In [27]:
# Define the CSV file path
data_csv = "data/sampleSupplies.csv"

# Define the CSV field names (column names)
fieldnames = [
    "itemsName", "itemsQuantity", "itemsPrice",
    "storeLocation", "customerGender", "customerAge",
    "customerEmail", "customerSatisfaction",
    "saleDate", "purchaseMethod", "couponUsed"
]

In [28]:
# Initialize the list to store flattened data
flattened_data = []

# Iterate through the DataFrame
for index, row in data.iterrows():
    sale_date = row["saleDate"]["$date"]
    store_location = row["storeLocation"]
    purchase_method = row["purchaseMethod"]
    coupon_used = row["couponUsed"]

    items = row["items"]
    customer = row["customer"]

    for item in items:
        flattened_row = {
            "itemsName": item["name"],
            "itemsQuantity": item["quantity"],
            "itemsPrice": item["price"]["$numberDecimal"],
            "storeLocation": store_location,
            "customerGender": customer["gender"],
            "customerAge": customer["age"],
            "customerEmail": customer["email"],
            "customerSatisfaction": customer["satisfaction"],
            "saleDate": sale_date,
            "purchaseMethod": purchase_method,
            "couponUsed": coupon_used
        }
        flattened_data.append(flattened_row)

In [29]:
# Write the data to the CSV file
with open(data_csv, mode='w', newline='') as csv_file:
    writer = csv.DictWriter(csv_file, fieldnames=fieldnames)
    writer.writeheader()
    writer.writerows(flattened_data)

print("CSV data has been exported to", data_csv)

CSV data has been exported to data/sampleSupplies.csv