In [16]:
import json
import csv
import pandas as pd

In [7]:
# Read the JSON file into a DataFrame
data = pd.read_json('data/sampleSupplies.json', lines=True)

In [8]:
data

,_id,saleDate,items,storeLocation,customer,couponUsed,purchaseMethod
0,{'$oid': '5bd761dcae323e45a93ccfe8'},{'$date': '2015-03-23T21:06:49.506Z'},"[{'name': 'printer paper', 'tags': ['office', ...",Denver,"{'gender': 'M', 'age': 42, 'email': 'cauho@wit...",True,Online
1,{'$oid': '5bd761dcae323e45a93ccfe9'},{'$date': '2015-08-25T10:01:02.918Z'},"[{'name': 'envelopes', 'tags': ['stationary', ...",Seattle,"{'gender': 'M', 'age': 50, 'email': 'keecade@h...",False,Phone
2,{'$oid': '5bd761dcae323e45a93ccfea'},{'$date': '2017-06-22T09:54:14.185Z'},"[{'name': 'notepad', 'tags': ['office', 'writi...",Denver,"{'gender': 'M', 'age': 51, 'email': 'worbiduh@...",False,In store
3,{'$oid': '5bd761dcae323e45a93ccfeb'},{'$date': '2015-02-23T09:53:59.343Z'},"[{'name': 'binder', 'tags': ['school', 'genera...",Seattle,"{'gender': 'F', 'age': 45, 'email': 'vatires@t...",False,In store
4,{'$oid': '5bd761dcae323e45a93ccfec'},{'$date': '2017-12-03T18:39:48.253Z'},"[{'name': 'backpack', 'tags': ['school', 'trav...",London,"{'gender': 'M', 'age': 40, 'email': 'dotzu@ib....",False,In store
...,...,...,...,...,...,...,...
4995,{'$oid': '5bd761deae323e45a93ce36b'},{'$date': '2016-01-20T17:29:10.225Z'},"[{'name': 'pens', 'tags': ['writing', 'office'...",Austin,"{'gender': 'F', 'age': 45, 'email': 'du@rum.py...",False,In store
4996,{'$oid': '5bd761deae323e45a93ce36c'},{'$date': '2014-11-29T10:09:41.573Z'},"[{'name': 'pens', 'tags': ['writing', 'office'...",Denver,"{'gender': 'F', 'age': 47, 'email': 'dup@katje...",False,In store
4997,{'$oid': '5bd761deae323e45a93ce36d'},{'$date': '2017-12-25T07:02:51.283Z'},"[{'name': 'binder', 'tags': ['school', 'genera...",Denver,"{'gender': 'M', 'age': 29, 'email': 'losuhse@e...",False,In store
4998,{'$oid': '5bd761deae323e45a93ce36e'},{'$date': '2013-12-07T11:06:25.51Z'},"[{'name': 'notepad', 'tags': ['office', 'writi...",Denver,"{'gender': 'M', 'age': 59, 'email': 'hu@pehabu...",False,Online
4999,{'$oid': '5bd761deae323e45a93ce36f'},{'$date': '2014-08-18T06:25:49.739Z'},"[{'name': 'envelopes', 'tags': ['stationary', ...",New York,"{'gender': 'M', 'age': 33, 'email': 'lihzodud@...",False,Online

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   _id             5000 non-null   object
 1   saleDate        5000 non-null   object
 2   items           5000 non-null   object
 3   storeLocation   5000 non-null   object
 4   customer        5000 non-null   object
 5   couponUsed      5000 non-null   bool
 6   purchaseMethod  5000 non-null   object
dtypes: bool(1), object(6)
memory usage: 239.4+ KB

In [11]:
data.shape

(5000, 7)

In [27]:
# Define the CSV file path
data_csv = "data/sampleSupplies.csv"

# Define the CSV field names (column names)
fieldnames = [
    "itemsName", "itemsQuantity", "itemsPrice",
    "storeLocation", "customerGender", "customerAge",
    "customerEmail", "customerSatisfaction",
    "saleDate", "purchaseMethod", "couponUsed"
]

In [28]:
# Initialize the list to store flattened data
flattened_data = []

# Iterate through the DataFrame
for index, row in data.iterrows():
    sale_date = row["saleDate"]["$date"]
    store_location = row["storeLocation"]
    purchase_method = row["purchaseMethod"]
    coupon_used = row["couponUsed"]

    items = row["items"]
    customer = row["customer"]

    for item in items:
        flattened_row = {
            "itemsName": item["name"],
            "itemsQuantity": item["quantity"],
            "itemsPrice": item["price"]["$numberDecimal"],
            "storeLocation": store_location,
            "customerGender": customer["gender"],
            "customerAge": customer["age"],
            "customerEmail": customer["email"],
            "customerSatisfaction": customer["satisfaction"],
            "saleDate": sale_date,
            "purchaseMethod": purchase_method,
            "couponUsed": coupon_used
        }
        flattened_data.append(flattened_row)

In [29]:
# Write the data to the CSV file
with open(data_csv, mode='w', newline='') as csv_file:
    writer = csv.DictWriter(csv_file, fieldnames=fieldnames)
    writer.writeheader()
    writer.writerows(flattened_data)

print("CSV data has been exported to", data_csv)

CSV data has been exported to data/sampleSupplies.csv

In [30]:
# Load the CSV data into a Pandas DataFrame
data = pd.read_csv('data/sampleSupplies.csv')

In [31]:
data

,itemsName,itemsQuantity,itemsPrice,storeLocation,customerGender,customerAge,customerEmail,customerSatisfaction,saleDate,purchaseMethod,couponUsed
0,printer paper,2,40.01,Denver,M,42,cauho@witwuta.sv,4,2015-03-23T21:06:49.506Z,Online,True
1,notepad,2,35.29,Denver,M,42,cauho@witwuta.sv,4,2015-03-23T21:06:49.506Z,Online,True
2,pens,5,56.12,Denver,M,42,cauho@witwuta.sv,4,2015-03-23T21:06:49.506Z,Online,True
3,backpack,2,77.71,Denver,M,42,cauho@witwuta.sv,4,2015-03-23T21:06:49.506Z,Online,True
4,notepad,2,18.47,Denver,M,42,cauho@witwuta.sv,4,2015-03-23T21:06:49.506Z,Online,True
...,...,...,...,...,...,...,...,...,...,...,...
27433,envelopes,5,24.12,New York,M,33,lihzodud@voblep.ie,3,2014-08-18T06:25:49.739Z,Online,False
27434,pens,4,27.10,New York,M,33,lihzodud@voblep.ie,3,2014-08-18T06:25:49.739Z,Online,False
27435,binder,3,29.09,New York,M,33,lihzodud@voblep.ie,3,2014-08-18T06:25:49.739Z,Online,False
27436,laptop,2,598.79,New York,M,33,lihzodud@voblep.ie,3,2014-08-18T06:25:49.739Z,Online,False
27437,backpack,3,70.90,New York,M,33,lihzodud@voblep.ie,3,2014-08-18T06:25:49.739Z,Online,False

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27438 entries, 0 to 27437
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   itemsName             27438 non-null  object
 1   itemsQuantity         27438 non-null  int64
 2   itemsPrice            27438 non-null  float64
 3   storeLocation         27438 non-null  object
 4   customerGender        27438 non-null  object
 5   customerAge           27438 non-null  int64
 6   customerEmail         27438 non-null  object
 7   customerSatisfaction  27438 non-null  int64
 8   saleDate              27438 non-null  object
 9   purchaseMethod        27438 non-null  object
 10  couponUsed            27438 non-null  bool
dtypes: bool(1), float64(1), int64(3), object(6)
memory usage: 2.1+ MB

In [33]:
data.shape

(27438, 11)

In [38]:
# Calculate sales for each product and sort by sales in descending order
data['sales'] = data['itemsQuantity'] * data['itemsPrice']
top_10_products = data.groupby('itemsName')['sales'].sum().sort_values(ascending=False).head(10)
print(top_10_products)

itemsName
laptop           6775977.07
backpack          817374.10
pens              581843.27
binder            511644.57
notepad           463615.48
envelopes         376658.49
printer paper     367459.29
Name: sales, dtype: float64

In [48]:
top_3_products_by_store = data.groupby(['storeLocation', 'itemsName'])['sales'].sum().groupby('storeLocation').nlargest(3)
print(top_3_products_by_store)

storeLocation  storeLocation  itemsName
Austin         Austin         laptop       1018494.05
                              backpack      115217.59
                              pens           74622.52
Denver         Denver         laptop       1961659.25
                              backpack      245679.34
                              pens          185008.39
London         London         laptop       1073098.72
                              backpack      144529.14
                              pens           92602.30
New York       New York       laptop        694613.32
                              backpack       82563.14
                              pens           64029.90
San Diego      San Diego      laptop        462973.58
                              backpack       50997.42
                              pens           42134.55
Seattle        Seattle        laptop       1565138.15
                              backpack      178387.47
                              pens          123445.61
Name: sales, dtype: float64

In [49]:
store_rankings = data.groupby('storeLocation')['sales'].sum().sort_values(ascending=False)
print(store_rankings)

storeLocation
Denver       2921009.92
Seattle      2255947.69
London       1583066.79
Austin       1445603.11
New York     1016059.59
San Diego     672885.17
Name: sales, dtype: float64

In [50]:
purchased_method_gender_table = pd.crosstab(data['customerGender'], data['purchaseMethod'])
print(purchased_method_gender_table)

purchaseMethod  In store  Online  Phone
customerGender
F                   8062    4270   1499
M                   7571    4314   1722

In [53]:
data['saleDate'] = pd.to_datetime(data['saleDate'], format='ISO8601')
data.set_index('saleDate', inplace=True)
monthly_sales = data['sales'].resample('M').sum()

print(monthly_sales)

saleDate
2013-01-31 00:00:00+00:00    196043.76
2013-02-28 00:00:00+00:00    147622.59
2013-03-31 00:00:00+00:00    140700.06
2013-04-30 00:00:00+00:00    162336.67
2013-05-31 00:00:00+00:00    179143.37
2013-06-30 00:00:00+00:00    142132.02
2013-07-31 00:00:00+00:00    176298.23
2013-08-31 00:00:00+00:00    130977.22
2013-09-30 00:00:00+00:00    137871.99
2013-10-31 00:00:00+00:00    173126.73
2013-11-30 00:00:00+00:00    148358.38
2013-12-31 00:00:00+00:00    174306.96
2014-01-31 00:00:00+00:00    125824.02
2014-02-28 00:00:00+00:00    141174.41
2014-03-31 00:00:00+00:00    193413.50
2014-04-30 00:00:00+00:00    132593.08
2014-05-31 00:00:00+00:00    166896.80
2014-06-30 00:00:00+00:00    143304.56
2014-07-31 00:00:00+00:00    184804.60
2014-08-31 00:00:00+00:00    167979.81
2014-09-30 00:00:00+00:00    159802.92
2014-10-31 00:00:00+00:00    149284.84
2014-11-30 00:00:00+00:00    180564.85
2014-12-31 00:00:00+00:00    139466.83
2015-01-31 00:00:00+00:00    222577.01
2015-02-28 00:00:00+00:00    189776.15
2015-03-31 00:00:00+00:00    178086.94
2015-04-30 00:00:00+00:00    132298.50
2015-05-31 00:00:00+00:00    167482.69
2015-06-30 00:00:00+00:00    149484.34
2015-07-31 00:00:00+00:00    149510.47
2015-08-31 00:00:00+00:00    154868.63
2015-09-30 00:00:00+00:00    135615.80
2015-10-31 00:00:00+00:00    175215.34
2015-11-30 00:00:00+00:00    158390.42
2015-12-31 00:00:00+00:00    166565.02
2016-01-31 00:00:00+00:00    166558.93
2016-02-29 00:00:00+00:00    120783.52
2016-03-31 00:00:00+00:00    193185.17
2016-04-30 00:00:00+00:00    137340.27
2016-05-31 00:00:00+00:00    162966.06
2016-06-30 00:00:00+00:00    132942.54
2016-07-31 00:00:00+00:00    180331.10
2016-08-31 00:00:00+00:00    164555.33
2016-09-30 00:00:00+00:00    138299.53
2016-10-31 00:00:00+00:00    151698.93
2016-11-30 00:00:00+00:00    170758.41
2016-12-31 00:00:00+00:00    215400.07
2017-01-31 00:00:00+00:00    207037.75
2017-02-28 00:00:00+00:00    134527.54
2017-03-31 00:00:00+00:00    162351.15
2017-04-30 00:00:00+00:00    191990.94
2017-05-31 00:00:00+00:00    202403.85
2017-06-30 00:00:00+00:00    201552.55
2017-07-31 00:00:00+00:00    156106.90
2017-08-31 00:00:00+00:00    173196.13
2017-09-30 00:00:00+00:00    186976.26
2017-10-31 00:00:00+00:00    191681.25
2017-11-30 00:00:00+00:00    202330.86
2017-12-31 00:00:00+00:00    175697.72
Freq: M, Name: sales, dtype: float64